.container{
  width: 100%;
}

.postsList{
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: unset;
}

.post{
  border: 1px solid rgb(229, 229, 229);
  width: 90%;
  padding: 0 20px;
  margin: 5px auto;
  background-color:rgb(255, 255, 255);
  cursor: pointer;
  box-shadow: 1px 1px 3px 1px rgb(229, 229, 229);
  border-radius: 4px;
  transition: all 0.5s ease-out;
}
.post:hover{
  box-shadow: inset 4px 0em rgb(13, 11, 43);
}

.img, .video{
  display: block;
  max-width: 450px;
}

.title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 5px;
}

.inline {
  display: inline-flex;
  color: grey;
  font-size: 0.9rem;
}

.inline p{
  margin-right: 10px;
}

.bold{
  font-weight: 700;
}

.upvotes{
  font-weight: 700;
  color: #FF4500;
}

.loading{
  font-size: 2rem;
  animation: anim-rotate 2s infinite linear;
  color: #FF4500;
  margin-top: 20px;
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wrapper {
  width: 100%;
  text-align: center;
  
}

.icon{
  font-size: 1.1rem;
  margin: auto 3px;
}