.container{
  width: 100%;
}

.postsList{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-left: unset;
}

.post{
  box-sizing: border-box;
  border: 1px solid rgb(229, 229, 229);
  width: 100%;
  padding: 0 7px;
  margin: 5px 0;
  background-color:rgb(255, 255, 255);
  box-shadow: 1px 1px 3px 1px rgb(229, 229, 229);
  border-radius: 4px;
  transition: all 0.5s ease-out;
}

@media only screen and (min-width: 600px){
  .post{
    padding: 0 20px;
    margin: 5px auto;
  }
  .post:hover{
    box-shadow: inset 4px 0em rgb(13, 11, 43);
  }
}



.img, .video{
  display: block;
  width: inherit;
  max-width: 450px;
}

.title{
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: 5px;
}
.text{
  word-wrap: break-word;
  font-size: 0.9rem;
  padding: 0 10px;
  line-height: 20px;
}
.link{
  text-decoration-line: unset;
  color: rgb(26, 116, 201);
  font-size: 0.85rem;
  letter-spacing: -0.4px;
}

.inline {
  display: inline-flex;
  color: grey;
  font-size: 0.9rem;
}

.inline p{
  margin-right: 10px;
}

.bold{
  font-weight: 700;
}

.upvotes{
  font-weight: 700;
  color: #FF4500;
}

.loading{
  font-size: 2rem;
  animation: anim-rotate 2s infinite linear;
  color: #FF4500;
  margin-top: 20px;
}

@keyframes anim-rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.wrapper {
  width: 100%;
  text-align: center;
  
}

.icon{
  font-size: 1.1rem;
  margin: auto 3px;
}
.button{
  cursor: pointer;
  color: #FF4500;
  margin: auto 0;
  font-size: 1.3rem;
  transition: all 0.2s;
}
.button:hover {
  transform: scale(1.1);
}
