.postSkeleton {
  border: 1px solid rgb(229, 229, 229);
  width: 90%;
  height: 230px;
  padding: 0px 20px;
  margin: 5px auto;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 1px 1px 3px 1px rgb(229, 229, 229);
  overflow: hidden;
  position: relative;
  border-radius: 4px;
}

.skeleton {
  background-color: rgba(226, 224, 224, 0.774);
  margin: 15px 0px;
  border-radius: 2px;
}

.skeleton.info {
  width: 12%;
  min-width: 70px;
  height: 12px;
  margin-right: 8px;
}

.skeleton.title {
  width: 60%;
  height: 18px;
  margin-top: 0px;
}
.skeleton.media {
  width: 30%;
  min-width: 150px;
  height: 50%;
  margin-bottom: 0;
}
.inline{
  width: 100%;
  display: inline-flex;
}