/* Basic style */

.postSkeleton {
  border: 1px solid rgb(229, 229, 229);
  width: 80%;
  height: 230px;
  padding: 5px 20px;
  margin: 5px;
  background-color: rgb(255, 255, 255);
}

.skeleton {
  background-color: rgb(226, 224, 224);
  margin: 15px;
}

.skeleton.info {
  width: 12%;
  height: 12px;
  margin-right: 2px;

}

.skeleton.title {
  width: 60%;
  height: 18px;
  margin-top: 0px;
}
.skeleton.thumbnail {
  width: 30%;
  height: 50%;
  margin-bottom: 0;
}
.inline{
  width: 100%;
  display: inline-flex;
}