.sideBar{
  display: none;
}

@media only screen and (min-width: 930px){
  .navLinks {
    list-style: none;
    padding-left: unset;
  }
  .sideBar {
    display: unset;
    border-radius: 0px;
    border: 1px solid rgb(229, 229, 229);
    background-color: rgb(255, 255, 255);
    min-width: 16rem;
    height: fit-content;
    margin: 5px;
    font-family: "Work Sans", sans-serif;
    box-shadow: 1px 1px 3px 1px rgb(229, 229, 229);
    border-radius: 4px;
  }

  .link {
    margin: 24px 15px;
    cursor: pointer;
    color: rgb(140, 140, 140);
    transition: all 0.1s ease-in;
    font-size: 15px;
    font-weight: 900;
  }
  .link:hover {
    color: rgb(73, 73, 73);
  }
  .selectedLink {
    color: #ff4500;
  }
  .selectedLink:hover {
    color: #ff4500;
  }
}



 