.post {
  border: 1px solid grey;
  width: 80%;
  padding: 20px;
  margin: 5px;
}

.inline {
  display: inline-flex;
  color: grey;
}

.inline p {
  margin-right: 10px;
}

.bold {
  font-weight: 700;
}

.upvotes {
  font-weight: 700;
  color: #FF4500;
}