.postsList{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 0;
}

.post {
  border: 1px solid rgb(229, 229, 229);
  width: 80%;
  padding: 20px;
  margin: 5px;
  background-color:rgb(255, 255, 255);
  transition: all 0.2s ease-in;
  
}
.post:hover {
  position: relative;
  left: 3px;
  bottom: 3px;
  box-shadow: -3px 3px 2px 1px rgb(229, 229, 229);

}


.inline {
  display: inline-flex;
  color: grey;
}

.inline p {
  margin-right: 10px;
}

.bold {
  font-weight: 700;
}

.upvotes {
  font-weight: 700;
  color: #FF4500;
}

