html {
  background-color: rgb(246, 243, 239);
}
.App {
   height: 100vh;
   
  }

  .App-logo {
    height: 50px;
    pointer-events: none;
  }
  
  .App-header {
    padding: 0 10px;
    display: flex;
    align-items: center;
    height: 70px;
    background-color: #fff;
  }
  
  .container{
    display: flex;
    padding: 4rem 1.25rem;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .loading{
    width: 100%;
    text-align: center;

  }
  /* 
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-float infinite 3s ease-in-out;
    }
  }
  @keyframes App-logo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px)
    }
    100% {
      transform: translateY(0px)
    }
  }
   */