html {
  background-color: rgb(246, 243, 239);
}
.App {
   height: 100vh;

  /*   text-align: center; */
  }

  .App-logo {
    height: 8vmin;
    pointer-events: none;
    min-width: 16rem;
    text-align: left;
  }
  
  .App-header {
    display: flex;
    align-items: center;
    height: 7vh;
    background-color: rgb(239, 234, 228);
    
  /*   align-items: center;
    justify-content: center; 
    font-size: calc(10px + 2vmin);*/
    
  }
  
  .container{
    display: flex;
    padding: 4rem 1.25rem;
    max-width: 80rem;
    margin: 0 auto;
  }
  
  .loading{
    width: 100%;
    text-align: center;

  }
  /* 
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-float infinite 3s ease-in-out;
    }
  }
  @keyframes App-logo-float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(10px)
    }
    100% {
      transform: translateY(0px)
    }
  }
   */