html {
  background-color: rgba(242, 243, 247, 0.5);
  font-size: 14px;
}
@media only screen and (min-width: 500px){
  html {
    font-size: 16px;
  }
}
.App {
  height: 100vh;
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

.App-header {
  position: fixed;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  height: 60px;
  background-color: rgb(13, 11, 43);
  box-shadow: 1px 1px 3px 1px rgb(229, 229, 229);
  z-index: 3;
}

.container {
  display: flex;
  padding: 6rem 0rem;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  .container {
    display: flex;
    padding: 7rem 0rem;
    max-width: 55rem;
    margin: 0 auto;
  }
}

.loading {
  width: 100%;
  text-align: center;
}
